<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <title>Contact</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img src="img/logo.png" alt="logo" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link ms-4" aria-current="page" href="/blog">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active fw-bold text-danger ms-4" href="/project">My Project</a>
            </li>
          </ul>
          <div class="d-flex" role="search">
            <a class="btn btn-danger" type="submit" href="/contact">Contact Me</a>
          </div>
        </div>
      </div>
    </nav>
    <main>
      <section class="form container">
        <h1 class="text-center fw-bold mt-5">GET IN TOUCH</h1>
        <form class="card bg-info p-2 mt-5">
          <div class="mb-3">
            <label for="input-name" class="form-label">Name</label>
            <input type="text" class="form-control" id="input-name" placeholder=" your name" onkeyup="success()" />
          </div>
          <div class="mb-3">
            <label for="input-email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="input-email" aria-describedby="emailHelp" placeholder=" your email" onkeyup="success()" />
          </div>
          <div class="mb-3">
            <label for="input-phone" class="form-label">Phone</label>
            <input type="tel" class="form-control" required id="input-phone" pattern="[0-9]+" placeholder=" your phone number" onkeyup="success()" />
          </div>
          <div class="mb-3">
            <label for="input-subject" class="form-label">Subject</label>
            <select name="input-subject" id="input-subject" class="form-select">
              <option value="" disabled selected>Select</option>
              <option>FullStack Developer</option>
              <option>Front End Developer</option>
              <option>Back End Developer</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="input-message" class="form-label">Message</label>
            <textarea name="input-message" id="input-message" class="form-control" rows="10"></textarea>
          </div>
          <div class="col-12 d-md-flex justify-content-md-end">
            <button type="submit" class="btn btn-danger" id="form-button" onclick="submitButton()">Submit</button>
          </div>
        </form>
      </section>
    </main>
    <script src="MY PROJECT/js/contact.js"></script>
  </body>
</html>